.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

form {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30% 10% 50%;
  gap: 10px;
}

form input[type="text"] {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 10px 0;
}

.photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  font-size: 16px;
  justify-content: center;
  list-style: none;
  margin: 27px;
  padding: 0;
  }

.pagination li {
  margin: 0 10px;
}

.pagination li a,
.disabled {
  color: #333;
  display: block;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.pagination li.active a {
  background-color: #3498db;
  color: #fff;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .photos {
    grid-template-columns: 1fr;
  }

  input[type="text"] {
    max-width: 100%;
  }
}



h1.mb-4.text-4xl.font-extrabold.leading-none.tracking-tight.text-gray-900.md\:text-5xl.lg\:text-6xl.dark\:text-white {
  color: black !important;
}