@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 320px;

}

html {
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s ease-out;}

.mx-auto.max-w-2xl.py-32.sm\:py-48.lg\:py-56.headersize {
  padding: 80px 0;
}

.contenheader h1{
  color: white !important;
    text-shadow: 1.5px 3px #565656;

}

.colorback{
  background: url('https://images.pexels.com/photos/421129/pexels-photo-421129.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;

}

.backgroundfondo{
  margin-top: 80px;
  background: #D9D9D93B;
  gap: 10px;
} 

.backgroundfondo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* para cubrir todo el espacio disponible sin perder la proporción */
}

.hover{
  background: #853e95;
  padding: 10px 80px;
}


.hover:hover{
  background: #802a94 !important;
}


.gridname{
  display: grid;
  gap: 10px;
  max-width: 80rem;
  justify-content: center;
  align-items:center;
}

.container{
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contentpresent{
  display: grid;
  grid-template-columns: 30% 30%;
  max-width: 1440px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
  place-items: center;
}

.divtextContent{
  width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 17px;
    margin: 0 auto;
    border-radius: 18px;
  
}

.p1 , .p2{

  background-color: #f9fafb;

}



.contentpresent div.movilimage{
  display: none;
}
@media only screen and (max-width:768px) {


.contentpresent , .textinicio{
  grid-template-columns: 1fr; 
  margin: 5rem 0;
  gap: 10px;
}

.contentpresent .p1{
  margin: 0 10px 0 0 !important;
  border-radius: 0 16px 0 0;
}

.contentpresent .p2{
  margin: 0 0 0 10px !important;
  border-radius: 16px 0 0 0 ;
}

.container {
  display: inline;
  padding: 0;
  margin: 0;
}

.contentpresent div.escritorioimg{
  display: none;
}

.contentpresent div.movilimage{
  display: inline;
}



}

.textinicio{
  margin: 80px 0;
  padding: 50px 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.contentpresent{
  padding: 23px;

}
.contentpresent img{
  border-radius: 16px !important;
  width: 30rem;

}


.tittle{

  margin: 52px 81px;
place-items: center;
font-size: 60px !important;
display: flex;
align-items: center;
justify-content: left;
color: #000000;

}


header{
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Koulen', cursive;

}

header h2{
  font-size: 20px;
  color: white;
}
header img {
  width: 4%;
  padding: 0;
  margin: 10px;
  min-width: 50px;
}


path{
  fill: rgb(255, 255, 255);
}



/*API PEXELS*/
.app .photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* Limitar el número mínimo de columnas a 5 */
  grid-template-columns: repeat(auto-fit, minmax(min(5, 100%), 1fr));  
  gap: 10px;
}

.app .photos img {
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  margin: 10px 0;
}



.gallery form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media screen and (max-width: 768px) {
  .gallery form {
    grid-template-columns: repeat(2, 1fr);
  }
  .colorback{
 
    height: 75vh;
  
  }
  

 
}

@media screen and (max-width: 425px) {
  .gallery form  {
    grid-template-columns: repeat(2, 1fr);
  }

  .tittle {

    font-size: 45px !important;
  }

  .disableds{

  }

}

@media screen and (max-width: 375px) {
.app .photos {
grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
}

@media screen and (max-width: 375px) {
  .app .photos { 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}




/*MODAL IMAGEN AND AUTOR*/
.modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

/*cambiar*/

.containermodal {
  position: fixed ;
  top: 50% ;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 61%;
    min-width: 570px;
  height: auto ;
  color: black;
  font-size: 20px;
  overflow: overlay;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
align-items: center;
justify-content: center;
border-radius: 20px;
}

.modal-buttons{
  padding:10px 0;
}
.modal-buttons-grid{
  padding: 10px 0;
}
.modal-buttons-grid .hover{
  padding: 10px 30%;
}

.modal-buttons-grid  .h1R{
  background-color: rgba(255, 0, 0, 0.644) !important;
}

.modal .containermodal img {
  width: 100%;
  height: 100%;
  padding: 20px;
  }


  
@media screen and (max-width: 768px) {
  .containermodal {
    display: inline;
  width: 65% !important;
  max-width: 300px;
    min-width: 250px;
  position: fixed ;
  top: 50% ;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: auto ;
  color: black;
  font-size: 20px;
  overflow: overlay;
}


.modal .containermodal img {
 
  width: 100%;
  height: 70% !important;
  padding: 20px;
  max-height: 500px;
    image-rendering: -webkit-optimize-contrast;
    image-orientation: unset;
}


}



.author-info{
  display: flex;
    gap: 10px;
    padding: 0 9px;
    align-items: center;
    justify-content: center;
}

.author-initials {
  background: #6c6c6c;
  color: white;
  border-radius: 59%;
  padding: 6px;
  font-size: 16px;
}

/*imagerandow*/
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photo-grid img {
  width: 100%;
  height: auto;
}


/*twilling styles*/
.shadow-lg {
  background: #853e95;
}

.md\:justify-between {
  background: #853e95;
  justify-content: space-between;
  color: white;
  border-radius: 15px;
}

.sm\:text-center {
  text-align: center;
  color: white;
}

.sm\:mt-0 {
  margin-top: 0px;
  color: white;
}